html {
    font-size: 10px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
    color:#424242;
}
a{
    text-decoration: none;
}
.container{
    width: 1024px;
    margin: 0 auto;
}
.header__container{
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__item:nth-child(2){
    margin-left: 10%;
}
.logo{
    display: flex;
    height: 7rem;
}
.logo__image{
    width: 7rem;
    height: 5rem;
    margin-top: 1rem;
}
.logo__title{
    font-size: 3.7rem;
    margin: 0;
}
.logo__subtitle{
    font-size: 1.5rem;
    margin: 0;
}
.navigation{
    max-width: 40rem;
    height: 1.5rem;
}
.navigation__container{
    display: flex;
    justify-content: space-between;
}
.navigation__item{
    color:#424242;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1.5rem;
}
.navigation__item_active{
    color: #de2b24;
}
.navigation__item:not(:last-child)::after{
    content: "\2022";
    color:#424242;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.button-header{
    padding: 1rem 3rem;
    border-radius: 0.8rem;
    color:#fff;
    background-color: #de2b24;
    font-size:1.5rem;
    font-weight: 700;
}
.home{
    height: 59rem;
    background:url("../img/header/bg.png") no-repeat 50% 100%;
    background-color: #1287bf;
    color:#fff;
}
.home__container{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20rem;
}

.home__title{
    font-size: 4.8rem;
    font-weight: bold;
}
.home__subtitle{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 4rem;
}
.home__button{
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2rem 5rem;
    background-color: #f8cd53;
    border-radius: 0.8rem;
}


/* Block About */
.title{
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
}
.subtitle{
    position: relative;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 8rem;
}

.subtitle::after{
    content: '';
    position: absolute;
    width: 5rem;
    bottom: 0;
    height: 0.6rem;
    left: 50%;
    background-color: #424242;
    margin: 0 0 -2.5rem -2.5rem;
}
.about__title{
    margin-top: 9rem;
}
.about__slider{
   margin-bottom: 6rem;
}
.slick-active,
.slick-slide{
    outline: none;
}

.about__column{
    width: 30rem;
}
.item-about__icon{
    width: 6rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}
.item-about__title{
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 2rem;
}
.item-about__subtitle{
    font-size: 1.4rem;
    text-align: center;
    font-weight: 300;
    line-height: 2.5rem;
    width: 25rem;
    padding: 1rem;
    margin: 0 auto;
}
/* Approch  Block*/

.approach{
    background-color: #f3f3f3;
    min-height: 140rem;
}
.approach__header{
    padding-top: 8rem;
}
.approach__main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 107rem;
}
.methods__item{
    background-color: #fff;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 2px #e5e5e5;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
.methods__item:nth-child(2n){
    flex-direction: row-reverse;
    text-align: right;
}
.method__image{
    height: 23.9rem;
}
.method__step{
    width: 10.5rem;
    height: 10.5rem;
    background-color: #de2b24;
    border: 3px solid #fff;
    border-radius: 4px;
    position: absolute;
    color:#fff;
    text-align: center;
}
.method__step_right{
    right: 285px;
    top:65px;
}
.method__step_left{
    left: 285px;
    top:65px;
}
.method__number{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6rem;
    font-weight: 700;
    display: inline;
    line-height: 6rem;
}
.method__subnum{
    font-size: 2rem; 
    font-weight: 500;
}
.method__text{
    margin: 6rem 3rem 0 8rem;
    width: 60%;
}

.method__tittle{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;  
    width: 90%;
}
.method__description{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.5rem;
    width: 90%;
}

/* Work Block */
.work{
    min-height: 90rem;
    background-color: #de2b24;
    color: #ffffff;
    padding-bottom: 3rem;
}
.work__header{
    padding-top: 8rem;
}
.work__subtitle_white::after{
    content: '';
    position: absolute;
    width: 5rem;
    bottom: 0;
    height: 0.6rem;
    left: 50%;
    background-color: #fff;
    margin: 0 0 -2.5rem -2.5rem;
}
.work__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}
.project__item{
    width: 25.3rem;
    height: 25.3rem;
    background-color: #f35e59;
    text-align: center;
}
.project__item:nth-child(2){
    background: url("../img/our-work/work1.png") no-repeat center;
}
.project__item:nth-child(4){
    background: url("../img/our-work/work2.png") no-repeat center;
}
.project__item:nth-child(5){
    background: url("../img/our-work/work3.png") no-repeat center;
}
.project__item:nth-child(7){
    background: url("../img/our-work/work4.png") no-repeat center;
}
.project__image{
    margin-top: 9rem;
}
.project__title{
    font-size: 2.6rem;
    font-weight: 700;
}
.project__subtitle{
    font-size: 1.6rem;
}
/* Form */
.form{
    min-height: 85rem;
    background-color: #1287bf;
    color:#fff;
}
.form__header{
    text-align: center;
    padding-top: 8rem;
}
.form-top__title{
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.form-top__subtitle{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.form-body{
    width: 65%;
    min-height: 40rem;
    background-color: #fff;   
}
.form__main{
    position: relative;
    margin: 0 auto;
    margin-top: 6rem;
    padding: 3rem;
    color:#828282;
    text-align: center;
}
.form__main::before{
    content: '';
    left:50% ;
    top: -7rem;
    margin-left: -50px;
    position: absolute;
    border: 50px solid transparent; 
    border-bottom: 30px solid #fff;
}
.form-body::after{
    content: '\2716';
    font-size: 2rem;
    position: absolute;
    width: 4rem;
    height: 3.3rem;
    text-align: center;
    right: -2rem;
    top:-2rem;
    padding-top: 8px;
    color:#fff;
    border: 2px solid #fff;
    background-color: #de2b24;
    border-radius: 50%;
}
.form-body__description{
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}
.form-body__container{
    display: flex;
    flex-direction: column;
}
.form-body__item{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-left: 2rem;
    height: 5rem;
    font-family: inherit;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    font-size: 1.4rem;
}
.button-submit{
    width: 30%;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    
    background-color: #de2b24;
}
.form-body__item:last-child{
    padding: 0;
    margin-top: 2rem;
}
/* Footer */
.social{
    background-color: #2a2a2a;
    min-height: 49rem;
    color:#fff;
    text-align: center;
}
.social__title{
    font-size: 3rem;
    font-weight: 700;
    padding-top: 8rem;
    margin-bottom: 3rem;  
}
.social__container{
    width:25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.social__item{
    width: 5rem;
    height: 5rem;
    border: 2px solid #515151;
    display:block;
    background: url(../img/other/sprait.png) no-repeat;
}
.facebook{
    background-position: 16px 12px;
}
.twitter{
    background-position: -48px 12px;
}
.gmail{
    background-position: -116px 12px;
}
.in{
    background-position: -186px 12px;
}
.social__subtitle{
    font-size: 1.4rem;
    color: #cecece;
    margin-bottom: 3rem;
}


.social-form__item{
    width: 65%;
    display: block;
    margin: 0 auto;
    height: 5rem;
    margin-bottom: 3rem;
    font-family: inherit;
}
.social-form__item:first-child{
    background-color: #515151;
    color: #cecece;
    font-size: 1.4rem;
    border: none;
    padding-left: 2rem;
}
.social-form__item:last-child{
    width: 15rem;
    background-color: #2a2a2a;
    border: 2px solid #515151;
    color: #fff;
    font-size: 1.7rem;
}
@media screen and (max-width: 1030px){
    .container{
        width: 90%;
    }
}
@media screen and (max-width: 991px) {
    .header__container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .header__item:nth-child(2){
        order: 2;
        margin-left: 0;
        margin-bottom: 2rem;
    }
    .header__item:nth-child(3){
        margin-left: 16rem;
    }
  }

  @media screen and (max-device-width : 768px){
    .methods__item{
        flex-direction: column;
    }
    .methods__item:nth-child(2n){
        flex-direction: column;
    }
    .method__image{
        margin: 4rem auto;
    }
    .method__text{
        text-align: center;
        margin: 3rem auto;
    }
    .method__description,
    .method__tittle{
        margin: 0 auto;
    }
    .method__step_left{
        left: 50%;
        top:225px;
        margin-left: -5.25rem;
    }
    .method__step_right{
        right: 50%;
        top:225px;
        margin-right: -5.25rem;
    }
    .work__main{
        margin: 0 auto;
        width: 51rem;
    }
    .form-body{
        width: 80%;
    }
    .form-body__item{
        width: 85%;
    }
    .social-form__item{
        width: 85%;
    }
    @media screen and (max-device-width : 620px){
        .button-header{
            display: none;
        }
        .navigation__item:last-child{
            margin-right: 0;
        }
        .container {
            width: 95%;
        }
    }
}